body{
    padding: 12px;
    margin: 12px;
    background-color: rgb(83, 126, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.mydetails{
    text-align: center;
}
.details{
    text-align: left;
    padding-left: 12px;
    padding-bottom: 12px;
    justify-content: center;
}
.top1 , .top3{
    margin-top: 12px;
    align-items: center;
    padding: 12px;
background: #EEAECA;
background: radial-gradient(circle, rgb(184, 148, 255) 0%, rgba(148, 187, 233, 1) 100%);
border-radius: 12px;
}
.top2{
    align-items: center;
    padding: 12px;
background: #EEAECA;
background: radial-gradient(circle, rgba(184, 148, 255, 1) 0%, rgba(148, 187, 233, 1) 100%);
border-radius: 12px;
}
a{
    text-decoration: none;
    color: white;
}
a :hover{
    color:aliceblue;
}
hr {
  border: none;
  height: 3px;
  background-color: #000000;
}
.top1 h2 , .top2 h2 , .top3 h2{
    text-align: center;
    padding-bottom: 12px;
}
